@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('./fonts/basis/BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('./fonts/basis/BasisGrotesquePro-Regular.woff') format('woff'),
        url('./fonts/basis/BasisGrotesquePro-Regular.ttf') format('truetype'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Regular.woff') format('woff'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Bold';
    src: url('./fonts/basis/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('./fonts/basis/BasisGrotesquePro-Bold.woff') format('woff'),
        url('./fonts/basis/BasisGrotesquePro-Bold.ttf') format('truetype'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Bold.woff') format('woff'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Medium';
    src: url('./fonts/basis/BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('./fonts/basis/BasisGrotesquePro-Medium.woff') format('woff'),
        url('./fonts/basis/BasisGrotesquePro-Medium.ttf') format('truetype'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Medium.woff') format('woff'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Light';
    src: url('./fonts/basis/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('./fonts/basis/BasisGrotesquePro-Light.woff') format('woff'),
        url('./fonts/basis/BasisGrotesquePro-Light.ttf') format('truetype'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Light.woff2') format('woff2'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Light.woff') format('woff'),
        url('./fonts/__MACOSX/basis/._BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 100%;
    font-family: 'Basis Grotesque Pro', 'Basis Grotesque Pro Bold', 'Basis Grotesque Pro Medium', 'Basis Grotesque Pro Light';
    vertical-align: baseline;
    width: auto;    
    margin: 0;
    padding: 0;
    border: 0;
}


.section__tag {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section__tag_blue {
    color: #0536FC;
    opacity: 0.9;
    margin-bottom: 30px;
}

.section__subtitle {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}

.main__text {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.6;
}

.small__note {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.35;
}

.blue__button {
    background-color: #0536FC;
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffff;
    border: none;
    padding: 15px 50px;
}

.invest-intro {
    padding: 150px 10% 70px 15%;
}

.invest-form {
    display: flex;
    flex-direction: row;  

    input {
        font-family: 'Basis Grotesque Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.6;
        outline: none;
        cursor: pointer;    
        border: none;
    }

    a {
        text-decoration: none;
        color: #0536FC;
    }

    input:focus::placeholder {
        color: transparent;
    }

    button {
        margin-top: 48px;
        margin-bottom: 250px;
        outline: none;
        cursor: pointer;
    }    
    
    input[type='radio'] {
        margin-right: 15px;
    }
}
    
    .invest-form_aside {   
        flex: 1;     
        padding: 0 5% 10px 15%;
        vertical-align: top;
    }

    .invest-form_main {
        padding-right: 5%;
    }


.form-item_method {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;

    label {
        margin-right: 30px;
    }


}

.form-item_amount {
    margin-bottom: 20px;

    p {
        margin-bottom: 20px;
    }

    label {
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 13px 0;
        flex: 1;
        display:inline-block;
        width: 100%;
    }

    input[type=number] {
        background: transparent; 
        color: #fff;  
        opacity: unset;        
    }

    input:checked+label {
        color: #ffff;
        background-color: #0536FC;              
    }

    .defined {
        display: flex;
        label {
            text-align: center;
        } 
    }

    input {
        margin-left: 35px;
        appearance: none;
    }
}

.form-item_frequency {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;

    label {
        margin-right: 30px;
    }
}

.form-item_name {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;

    label {
        margin-bottom: 20px;
    }
}

.form-item_email {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;

    label {
        margin-bottom: 20px;
    }
}

.form-item_checkbox1 {
    margin-bottom: 16px;
}

@media all and (max-width: 1024px) {

    .invest-intro {
        padding: 50px 20px 50px 50px;
    }

    .invest-form {
        display: flex;
        flex-direction: column;
        padding-left: 50px;  
    }

    .invest-form_aside {
            padding-left: 0;
        }

    .form-item_method {
        display: flex;
        flex-direction: column;

        div {
            margin-top: 20px;
        }
    }
}

@media all and (max-width: 400px) {
    .form-item_amount {
        .defined {
            flex-direction: column;}
    }

    .form-item_name {
        width: 90%;}

    .form-item_email {
        width: 90%;}

    .form-item_frequency {
        flex-direction: column;
        div {
            margin-top: 20px;
        }
    }     
}
